@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@media (min-width: 1rem) {}
body, html{
  margin: 0;
  width:100%;
  height: 100%;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

header .nav-item{
  font-size: 18px;
  margin-top: 1.6rem;
}

header .nav-link {
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
  margin-right: 15px;
  margin-left: 15px;
  color: #000;
  border-bottom: solid 4px transparent;
}

header .nav-link:hover {
  border-bottom: solid 4px #F2955E;
  color: #F2955E;

}

.navbar-brand {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 4rem;

}

.dropdown {
  margin-top: 1rem;

}

.dropdown-item:hover {
  background: #ffff;
  color: #F2955E;

}

.title {
  margin: 4rem 20rem 4rem 20rem;

}

.title p {
  margin-bottom:3rem;
  font-size: 18px;

}

select {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  /* margin-left: 55rem; */
  border-radius: 20px;
  padding: 0.25rem;
  padding-left: 1rem;
  height: 45px;
  
}

.filtro {
  padding: 0 20px;
  margin-left: 1rem;
  min-width: 20px;
  height: 40px;
  background-color: #F2955E;
  border-radius: 25px;
  border-style: none;
  font-size: 17px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #FFF;
}

 .filtro:hover {
  background-color: darkgrey;

}

.artigo {
 margin-left: 20rem;
  
}

.art_title{
 font-weight: bold;
 font-size:20px;
 margin-bottom: 0.25rem;
 margin-top: 2rem;
 
}

.ler{
  padding: 0 20px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 20rem;
  min-width: 20px;
  height: 40px;
  background-color: #F2955E;
  border-radius: 25px;
  border-style: none;
  font-size: 17px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #FFF;
}

 .ler:hover {
  background-color: darkgrey;

}

.tags{
  max-width:610px;
  background-color:lightgrey;
  padding:0.1rem;
  padding-left:0.8rem;
  border-radius:20px;

}

.divider{
  margin-left:20rem;
  margin-right:20rem;
