@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@media (min-width: 1rem) {}

body{
    background-color: #F2E3D4;
    font-family: 'Poppins', sans-serif;
}



main {
    width: 100%;
    min-height: 80vh;
    overflow: hidden;
    background-color: #F2E3D4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{
    margin-top: 3vh;
    position: relative;
    width: 80%;
    max-width: 800px;
    min-height: 600px;
    height: auto;
    background-color: #fff;
    border-radius: 3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

h3{
font-size: 30px;
font-weight: 600;
margin-top: 5rem;
margin-bottom: 3rem;
color: #151111;
text-align:center;
}

.container{
    text-align: center;
    margin-left: 110px;
}
.row{
    text-align: center;
    margin: 2rem 0 0 0;
} 
   

.container{
margin:0px;
margin-bottom: 30px;
}
.i1{
  border-radius:10px;
  margin-right: 10px;
  margin-bottom:10px;
  padding:5px;
  width: 300px;
}

.i2{
  border-radius:10px;
   padding:5px;
   width: 350px;
}
.i3{
  border-radius:10px;
    margin-right: 10px;
   margin-bottom:10px;
   padding:5px;
   width: 400px;
}
.i4{
  border-radius:10px;
   padding:5px;
   width: 250px;
}
.i5{
  border-radius:10px;
    margin-bottom:5px;
   padding:5px;
  width: 250px;
}
.i6{
  border-radius:10px;
  padding:5px;
  width: 250px;
}

.conta{
margin-left:80px;
  width:400px;
}

.input3{
  width:200px;
float: left;
}

button {
  float: right;
  margin-top: 100px;
    margin-bottom: 50px;
  margin-right: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    width: 100px;
    height: 35px;
    background-color: #F2955E;
    border-radius: 20px;
    border-style: none;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

 button:hover {
  background-color: darkgrey;

}

header{
    background-color: #fff;
}

header .nav-item{
  font-size: 18px;
  margin-top: 1.6rem;
}

header .nav-link {
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
  margin-right: 15px;
  margin-left: 15px;
  color: #000;
  border-bottom: solid 4px transparent;
}

header .nav-link:hover {
  border-bottom: solid 4px #F2955E;
  color: #F2955E;

}

.navbar-brand {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 4rem;

}

.dropdown {
  margin-top: 1rem;

}

.dropdown-item:hover {
  background: #ffff;
  color: #F2955E;
}

a {
    text-decoration: none;
}

.negrito {
     color: #000;
     font-weight: bold;
     font-size: 20px;
}

.comunista {
    position: relative;
    float: left;
}