@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@media (min-width: 1rem) {}

body {
	margin:0;
  	padding:0;
}
.pdf{
  height:1000px;
  width:100%;
}