@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@media (min-width: 1rem) {}

body, html{
  margin: 0;
  width:100%;
  height: 100%;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

header .nav-item{
  font-size: 18px;
  margin-top: 1.6rem;
}

header .nav-link {
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
  margin-right: 15px;
  margin-left: 15px;
  color: #000;
  border-bottom: solid 4px transparent;
}

header .nav-link:hover {
  border-bottom: solid 4px #F2955E;
  color: #F2955E;

}

.navbar-brand {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 4rem;

}

.dropdown {
  margin-top: 1rem;


}

.dropdown-item:hover {
  background: #ffff;
  color: #F2955E;

}

.title {
  margin: 4rem 20rem 4rem 20rem;

}

.pub {
 margin: 4rem 20rem 4rem 20rem;

}

.pub h4{
  margin-bottom: 2rem;
  font-weight: 600;

}

.pub h5 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.title p {
  margin-bottom: 3rem;
  font-size: 18px;

}

i {
  padding: 1rem;
  
}

button {
  padding: 0 20px;
  margin-left: 15rem;
  min-width: 20px;
  height: 40px;
  background-color: #F2955E;
  border-radius: 25px;
  border-style: none;
  font-size: 17px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #FFF;
}

.salvar-ev {
  padding: 0 10px;
  margin-left: 1rem;
  min-width: 20px;
  height: 45px;
  background-color: #F2955E;
  border-radius: 25px;
  border-style: none;
  font-size: 17px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #FFF;
}

 button:hover {
  background-color: darkgrey;
   
}

span{
  margin-left: 44rem;

}
.container{
  max-width:1255px;
  width:100%;
}

.slide-container{
  margin: 0 3.5rem;
  overflow:hidden;
}
.img-box{
  height:20rem;
}

.img-box img{
  height:100%;
  border-radius:5px;
  
}

.profile-details{
  padding:2rem;

}

