@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@media (min-width: 1rem) {

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body{
    background-color: #F2E3D4;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #F2E3D4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{
    position: relative;
    width: 100%;
    max-width: 900px;
    min-height: 650px;
    height: auto;
    background-color: #fff;
    border-radius: 3rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.form {
  padding: 1rem 13rem 4rem 15rem;

}

.form-control {
  max-width: 450px;
  margin: 0rem 0rem 0.25rem 0rem;

}

.text {
  
  margin-bottom: 1.5rem;

}

label {
  padding: 0.25rem 0rem 0.25rem 0rem;

}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 15px;
  height: 40px;
  width: 125px;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem; 
  border: 0.02rem solid darkgrey;
  font-size: 16px;
  margin: 0rem 0rem 1rem 0rem;

}

option {
  text-align: center;

}

h5{
 margin-top: 40px
}

.title {
  margin: 4rem 20rem 4rem 20rem;

}

.title p {
  margin-bottom: 3rem;
  font-size: 18px;

}

button {
  padding: 0 20px;
  min-width: 20px;
  height: 40px;
  background-color: #F2955E;
  border-radius: 25px;
  border-style: none;
  font-size: 17px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
}

 button:hover {
  background-color: darkgrey;

}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
    
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;

}

.sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.sign-btn:hover {
    background-color: #ad3d1e;
}

.text {
    color: #000000;
    font-size: 0.8rem;
    
}

.text a {
    color: #000000;
    transition: 0.3s;
}

.text a:hover {
    color: #ad3d1e;
}

header {
    background-color: #FFF;
    
  }
  
  header .nav-item{
    font-size: 18px;
    margin-top: 1.6rem;
  }
  
  header .nav-link {
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
    margin-left: 15px;
    color: #000;
    border-bottom: solid 4px transparent;
  }
  
  header .nav-link:hover {
    border-bottom: solid 4px #F2955E;
    color: #F2955E;
  
  }
  
  .navbar-brand {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 4rem;
  
  }
  
  .dropdown {
    margin-top: 1rem;
  
  }
  
  .dropdown-item:hover {
    background: #ffff;
    color: #F2955E;
  }
  
  a {
      text-decoration: none;
  }