@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@media (min-width: 1rem) {}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: "Poppins", sans-serif;
    background-color: #F2E3D4;
}

main {
    width: 100%;
    min-height: 85vh;
    overflow: hidden;
    background-color: #F2E3D4;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 550px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}

form {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
    opacity: 0;
    pointer-events: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    margin-right: 0.3rem;
}

.heading h2 {
    margin-top: 2rem;
    font-size: 2.1rem;
    font-weight: 600;
    color: #151111;
}

.heading h6 {
    color: #bababa;
    font-weight: 400;
    font-size: .8rem;
    display: inline;
}

.toggle {
    color: #151111;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    transition: 0.3s;
}

.toggle:hover {
    color: #ad3d1e;
}

.input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding-top: 1rem;
    font-size: 0.95rem;
    color: #151111;
    transition: .4s;
}

label {
    position: absolute;
    left: 22px;
    top: 30%;
    transform: translate(-50%);
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
    transition: .4s;
}

.input-field.active {
    border-bottom-color: #151111;
}

.input-field.active+label {
    font-size: .75rem;
    top: -2px;
}

.sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #F2955E;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.sign-btn:hover {
    background-color:darkgrey;
}

.text {
    color: #bbb;
    font-size: 0.8rem;
    text-align: center;
}

.text a {
    color: #bbb;
    transition: 0.3s;
}

.text a:hover {
    color: #ad3d1e;
}

header {
    background-color: #FFF;
    
  }
  
  header .nav-item{
    font-size: 18px;
    margin-top: 1.6rem;
  }
  
  header .nav-link {
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
    margin-left: 15px;
    color: #000;
    border-bottom: solid 4px transparent;
  }
  
  header .nav-link:hover {
    border-bottom: solid 4px #F2955E;
    color: #F2955E;
  
  }
  
  .navbar-brand {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 4rem;
  
  }
  
  .dropdown {
    margin-top: 1rem;
  
  }
  
  .dropdown-item:hover {
    background: #ffff;
    color: #F2955E;
  }
  
  a {
      text-decoration: none;
  }
  
  .negrito { 
    color: #000;
     font-weight: bold; 
  }